extends layout

block content
	section(class='module parallax parallax-1')

	nav(class="navbar navbar-default custom-nav" roll="Navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav ")
					li(class="active top-nav" )
						a(href="#proposal-anchor" class="jumper") Proposal
						span(class="sr-only") (current)
					li(class="top-nav")
						a(href="#photo-anchor" class="jumper") Photos
					li(class="top-nav")
						a(href="#party-anchor" class="jumper") Bridal Party
					li(class="top-nav")
						a(href="#wedding-anchor" class="jumper" ) Wedding
					li(class="top-nav")
						a(href="#registry-anchor"  class="jumper") Registry
					li(class="top-nav")
						a(href="#guestbook-anchor" class="jumper") Guestbook

	section(class='module content proposal-container')
		div(class='container' id="proposal-anchor")
			div(class="section-header")
				h1 The Proposal
			div(class="section-header")
				h1 December 2, 2014
			section(id="cd-timeline" class="cd-container")
				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-movie")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Wakes Up
						p Alex wakes up a little later than usual because he is selling his car today and doesn't need to be anywhere until 9 a.m. Its a glorious morning filled with coffee and an actual breakfast.
						span(class="cd-date") 6:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Wakes Up
						p Because it's a normal day right?
						span(class="cd-date") 7:30ish....

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-location")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Sells His Car
						p What a relief this is. But even better, what an excuse to stay home from work and to borrow Michelle's car.
						span(class="cd-date") 9:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Is At Work
						p Because it's a normal day right?
						span(class="cd-date") 9:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Goes Shopping
						p Instead of going straight to work, Alex takes a little detour to Target. He has a plan. He has a solid game plan. Michelle has always said she wanted to decorate her apartment for Christms.
						p You are here for just a few items. A small christmas tree. Check. Christmas lights. Check. A wreath? Well that wasn't on the list but it looks cool. Ok so add a wreath to the list and head up to check out.
						p While standing in line he begins to question... does he really need a wreath? No better not. Returns the wreath and somehow some keurig cups get into his basket. Well played Target. Well played.
						span(class="cd-date") 10:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Has A Meeting
						p Because it's a normal day right?
						span(class="cd-date") 10:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Starts Interior Decorating
						p Christmas lights take WAY longer to put up than you would think. The tree was easy enough, but he decided to use a desk chair to reach the high points. Things didn't work out the way he wanted when he fell off it and took all the lights down with him. Oh well... time to start over.
						p Once everything is up it's time to place a little surprise by the door.
						span(class="cd-date") 11:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Has Lunch
						p Because it's a normal day right?
						span(class="cd-date") 12:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Goes To Work
						p Because it's a normal day right?
						span(class="cd-date") 12:30 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Finishes Work
						p 'What do you want to do for dinner?'
						span(class="cd-date") 5:30 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Sets the Trap
						p Alex: 'I had a great day at work. I was thinking we could go out.'
						p Michelle: 'It's Tuesday! Half off Margaritas!'
						p Alex: 'Um.. I was thinking more Italian? How about Mancini's? That restraunt we went to when you first moved to Oak Park?'
						p Michelle: 'Oh... ok'
						span(class="cd-date") 5:45 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Dinner Is Server
						p Alex gets Gnocci, Michelle gets baked Mosstaccoli and they split a bottle of wine while talking. This are going great.
						span(class="cd-date") 7:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Here It Comes
						p Here's the point of no return. The apartment is decorated, dinner has been eaten, and its game time baby.
						span(class="cd-date") 8:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 The Suprise
						p Alex lets michelle in first. Michelle sees all the Christmas decorations and yells 'You listened!' like that was so shocking.
						p Michelle then turns around to give Alex a hug but finds him down on one knee and yells 'Shut Up!' and holds her hand to her chest.
						p Alex panics and forgets everything he wanted to say. Try's to ad-lib. Not much comes out. But panic subsides when Michelle gives him her hand and he can slide the ring on.
						span(class="cd-date") 8:30 PM
			div(class='engagement-video' )
				video(class ="span" width="60%" controls)
					source(src="video/proposal.mov")
	section(class='module parallax parallax-2')
	section(class='module content')
		div(class='container' id='photo-anchor')
			h2 Engagement Photos

	section(class='module content')
		div(class='container' id='party-anchor')
			h2 Our Bridal Party

	section(class='module content')
		div(class='container' id='wedding-anchor')
			h2 The Wedding

	section(class='module content')
		div(class='container' id='registry-anchor')
			h2 Registry

	section(class='module content')
		div(class='container' id='guestbook-anchor')
			h2 Sign our Guestbook


	div(class='test')
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		a(href='#') test
