extends layout

block content
	section(class='module parallax parallax-1')
		div(class='main-headline')
			h1 Alex and Michelle
			h2(class='main-subheader') September 11, 2015 -  Rockton, Illinois
	nav(class="navbar navbar-default custom-nav" roll="Navigation" )
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav" id="main-navigation")
					li(class="active top-nav" )
						a(href="#proposal-anchor" class="jumper") Our Story
						span(class="sr-only") (current)
					li(class="top-nav")
						a(href="#photo-anchor" class="jumper") Photos
					li(class="top-nav")
						a(href="#party-anchor" class="jumper") Wedding Party
					li(class="top-nav")
						a(href="#info-anchor" class="jumper") Information
					li(class="top-nav")
						a(href="#wedding-anchor" class="jumper" ) The Big Day
					li(class="top-nav")
						a(href="#registry-anchor"  class="jumper") Registry
					li(class="top-nav")
						a(href="#guestbook-anchor" class="jumper") Guestbook

	section(class='module content proposal-container')
		div(class='container' id="proposal-anchor")
			h1(class="headline") Our Story
			div(id="about-us-box-top")
			div(id="about-us-box-middle" )
				p Alex and Michelle met in January of 2008.  Both were in their second semester of junior year of college:
				p In Michelle's words:
				p I met Alex in an entrepreneurial business class our junior year of college.  Our professor announced that we would be competing throughout the semester in groups running a computer simulated business. He said certain groups will fail, some will be in the middle, and one overall top competitor and that is how our grades would be reflected.  Now, I am very concerned about my grades and always wanted to be at the top of my class, please keep this in mind for the remainder of the story.
				p The way our groups were assigned was by taking the Meyer’s Briggs personality assessment.  As the professor taught us it’s best to have a diversify approach when running an organization.  So we took the test and the professor told us next class we would find out our groups.  I go home that night and read the entire manual, the rules, background information on our “company”, etc.  and am overwhelmed by it all.  I tell my roommate, I really hope I get a smart team, because I don’t understand this at all!
				p I come to class, sitting in the front row, notebook out, and ready to soak up everything the professor has to say about the project as I am determined I am going to get this A no matter what.  The professor comes in and starts going over the Meyer’s Brigg quadrants and explaining what each one means. Meanwhile, I am anxiously bouncing my leg not caring one word he is saying as all I want to hear is who is going to be on my team and help me get this A.
				p Okay, the time has come, group assignments…Michelle Moreno and…Alex Welch.  Who the heck is Alex Welch!  I turn my head around and see the kid in the back row corner, hoodie up, sharing his headphones with his friend sitting next to him.  His head pops up when he hears his name, headphones come out of the jack and you start hearing from his laptop …”Da-na-na-na-da Ghostbusters!”.  As I am staring him down, I’m thinking really! Really!  I get stuck with the guy that is watching Ghostbusters in class and looks like he just rolled out of bed (it’s a 6pm evening class) and clearly does not care about this assignment.
				P I go back to my dorm and start bawling to my friends, explaining to them who I got assigned to and how I am probably going to fail this class.  As you can see we are not the couple that can tell the story it was love at first site.  I hated him.
				p The first few sessions, I tried to run the whole simulation myself and each week our company was slowly failing and falling to be the worst company.  Alex decided then he needed to participate.  He actually got really into it and started teaching my things and week by week our company was doing better and week by week, I started to realize he is really smart.  His brains were what got my initial interest in him and I actually started to want to get to know more about him.
				p We ended up getting the A, kept in touch over the summer and throughout our first semester senior year while he studied abroad.  We officially started dating in February 2009, and the rest is history.  I am so thankful for our professor who paired us based on the results of our personality assessment as we balance each other perfectly.”
				p In Alex’s words:
				p “I got the girl, I got the A.”
			div(id="about-us-box-bottom")
			h1(class="headline") The Proposal
			h1(class="second-header") December 2, 2014
			section(id="cd-timeline" class="cd-container")
				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Wakes Up
						p Alex wakes up a little later than usual because he is selling his car today and doesn't need to be anywhere until 9 a.m. Its a glorious morning filled with coffee and an actual breakfast.
						span(class="cd-date") 6:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Wakes Up
						p Because it's a normal day right?
						span(class="cd-date") 7:30ish....

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Sells His Car
						p What a relief this is. But even better, what an excuse to stay home from work and to borrow Michelle's car.
						span(class="cd-date") 9:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-location")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Is At Work
						p Because it's a normal day right?
						span(class="cd-date") 9:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-location")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Goes Shopping
						p Instead of going straight to work, Alex takes a little detour to Target. He has a plan. He has a solid game plan. Michelle has always said she wanted to decorate her apartment for Christms.
						p You are here for just a few items. A small christmas tree. Check. Christmas lights. Check. A wreath? Well that wasn't on the list but it looks cool. Ok so add a wreath to the list and head up to check out.
						p While standing in line he begins to question... does he really need a wreath? No better not. Returns the wreath and somehow some keurig cups get into his basket. Well played Target. Well played.
						span(class="cd-date") 10:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Has A Meeting
						p Because it's a normal day right?
						span(class="cd-date") 10:30 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Starts Interior Decorating
						p Christmas lights take WAY longer to put up than you would think. The tree was easy enough, but he decided to use a desk chair to reach the high points. Things didn't work out the way he wanted when he fell off it and took all the lights down with him. Oh well... time to start over.
						p Once everything is up it's time to place a little surprise by the door.
						span(class="cd-date") 11:00 AM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Has Lunch
						p Because it's a normal day right?
						span(class="cd-date") 12:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-location")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Goes To Work
						p Because it's a normal day right?
						span(class="cd-date") 12:30 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Michelle Finishes Work
						p 'What do you want to do for dinner?'
						span(class="cd-date") 5:30 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Alex Sets the Trap
						p Alex: 'I had a great day at work. I was thinking we could go out.'
						p Michelle: 'It's Tuesday! Half off Margaritas!'
						p Alex: 'Um.. I was thinking more Italian? How about Mancini's? That restraunt we went to when you first moved to Oak Park?'
						p Michelle: 'Oh... ok'
						span(class="cd-date") 5:45 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-location")
						img(src="images/cd-icon-location.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Dinner Is Server
						p Alex gets Gnocci, Michelle gets baked Mosstaccoli and they split a bottle of wine while talking. This are going great.
						span(class="cd-date") 7:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 Here It Comes
						p Here's the point of no return. The apartment is decorated, dinner has been eaten, and its game time baby.
						span(class="cd-date") 8:00 PM

				div(class="cd-timeline-block")
					div(class="cd-timeline-img cd-picture")
						img(src="images/cd-icon-picture.svg" alt="Picture")
					div(class="cd-timeline-content")
						h2 The Suprise
						p Alex lets michelle in first. Michelle sees all the Christmas decorations and yells 'You listened!' like that was so shocking.
						p Michelle then turns around to give Alex a hug but finds him down on one knee and yells 'Shut Up!' and holds her hand to her chest.
						p Alex panics and forgets everything he wanted to say. Try's to ad-lib. Not much comes out. But panic subsides when Michelle gives him her hand and he can slide the ring on.
						span(class="cd-date") 8:30 PM
			div(class='engagement-video' )
				video(class ="span" width="60%" controls)
					source(src="video/proposal.mov")

	section(class='module parallax parallax-2')

	section(class='module content photo-section')
		div(class='container' id='photo-anchor')
			h1(class="headline engagement-headline") Engagement Photos
			//-div(class='jumbotron jumbotron-photo container')
			div(id="carousel-example-generic" class="carousel slide carousel-photo" data-ride="carousel")

				div(class="carousel-inner" role="listbox")
					div(class="item active ")
						div(class='jumbotron jumbo1 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo2 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo3 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo4 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo5 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo6 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo7 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo8 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo9 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo10 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo11 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo12 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo13 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo14 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo15 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo16 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo17 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo18 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo19 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo20 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo21 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo22 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo23 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo24 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo25 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo26 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo27 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo28 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo29 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo30 jumbotron-photo')
					div(class="item")
						div(class='jumbotron jumbo31 jumbotron-photo')



				a(class ="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
					span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
					span(class="sr-only") Previous
				a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
					span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
					span(class="sr-only") Next

	section(class='module parallax parallax-3')
	section(class='module content')
		div(class='container' id='party-anchor')
			h1(class="headline") Our Bridal Party
			div(class="row")
				div(class="col-md-6 col-lg-6")
					h1(class="second-header") Groomsmen
				div(class="col-md-6 col-lg-6")
					h1(class="second-header") Bridesmaids
			div(class="row")
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Kyle Zabel
						div(class="title") Childhood Friend and Best Man
						div(class="bio")
						p We grew up together in a very small town. What was left to do than make an ever lasting friendship while causing trouble?
						p Also, if you get the chance, ask him what a Koala sounds like.
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Marcy Moreno Sherwin
						div(class="title") Big Sister and Matron of Honor
						div(class="bio")
						p She is the best sister you could ever ask for and is a huge role model to me.  Marcy is a very kind, sweet, nurturing, strong woman (she also has a sassy side which I love).
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Chris Welch
						div(class="title") Little Brother
						div(class="bio")
						p Chris is my little brother. He is thoughtful, caring, and absolutely genuine. You will often catch us geeking about about something or another science or video game related.
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Kiersten von Grimmenstein
						div(class="title") College roommate
						div(class="bio")
						p My sista!  I met Kiersten at Valpo when we joined Gamma Phi Beta together freshman year.  We lived together when studying abroad in Germany and roommates senior year.  She is my dearest friend from college and we continue to "Get Silly!"

			div(class="row")
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Warren Arnold
						div(class="title") College roomate
						div(class="bio")
						p Together Warren and I had some amazing times that have spanned both our collegiate and professional lives. He is the type of person you can truely be yourself around.
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Eileen Amoni
						div(class="title") Childhood Friend
						div(class="bio")
						p Eileen and I grew up together since elementary school and she even worked with me at James Hardie for a year before leaving me to go to Texas!  You will never catch me with Eileen without giggling :)

			div(class="row")
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Leandro Schultz
						div(class="title") After college roomate
						div(class="bio")
						p Leandro was my roommate after college. We figured out this whole adult thing together. I've also never been as competitive with anyone in my life. Whether its running or basketball or snail racing... its a death match.
				div(class="col-md-6 col-lg-6")
					div(class="person")
						div(class="name") Andrea Tuomi
						div(class="title") Cousin
						div(class="bio")
						p Andrea is like a second sister to me!  I have the best memories growing up  with her and her brother and my brother and sister.  We were inseparable as a group.  She has an amazing loud laugh that I love and is goofy just like me!



	section(class='module parallax parallax-4')
	section(class='module content')
		div(class='container' id='info-anchor')
			h1(class="headline") Information
			div(class="information-div")
				h1(class="second-header") Attire
				p This is a big day so put on your best to help us celebrate. Formal attire is requested. Black tie is optional.
				br
				h1(class="second-header") Accommodations
				p Please book your rooms prior to August 9th
				p Please request early-check in at all hotels. This is first come - first serve and based on availability
				p Regular check in at all hotels is 3 p.m.

				br
				div(class="row")
					div(class="col-md-6 col-xs-12")
						img(src="images/hilton_garden_inn_room.jpg" alt="Picture" class="hotel-pic")
					div(class="col-md-6 col-xs-12")
						h3 Hilton Garden Inn
						p 7675 Walton St, Rockford, IL 61108
						p (815) 229-3322
						p $134 / night
						p
							a(href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/R/RFDILGI-MWW-20150910/index.jhtml?WT.mc_id=POG") Website
				br
				div(class="row")
					div(class="col-md-6 col-xs-12")
						img(src="images/fairfield_inn_and_suites_room.jpg" alt="Picture" class="hotel-pic")
					div(class="col-md-6 col-xs-12")
						h3 Fairfield Inn and Suites
						p 7651 Walton St, Rockford, IL 61108
						p (815) 398-7400
						p King : $119 / night - Double Queen : $139 / night
						p
							a(href="http://cwp.marriott.com/rfdrf/morenowelch2015") Website
				br
				div(class="row")
					div(class="col-md-6 col-xs-12")
						img(src="images/ironworks_room.jpg" alt="Picture" class="hotel-pic")
					div(class="col-md-6 col-xs-12")
						h3 Ironworks Hotel
						p 500 Pleasant St, Beloit, WI 53511
						p (608) 362-5500
						p Double Queen : $159 / night - Suite : $189 / night
						p
							a(href="http://www.ironworkshotel.com/") Website
				br
				h1(class="second-header") Parking and Shuttle Service
				p Complimentary shuttle services will be provided for the Hilton Garden Inn and the Fairfield Inn and Suites
				p If you plan on taking a shuttle please be aware that they will be leaving promptly at 3:00 pm
				br

				h1(class="second-header") Children
				p  To give all our guests the opportunity to let their hair down and have a good time without having to worry about little eyes and ears we politely request no children
				br
	section(class='module content')
		div(class='container' id='wedding-anchor')
			h1(class="headline") The Big Day
			div(class='big-day-instructions')
				p The Ceremony and Reception will be held at the Pavilion at Orchard Ridge Farms
				p 6786 Yale Bridge Rd, Rockton, IL 61072
				br
				p Ceremony will begin at 4:00 pm and be immediately follwed by cocktail hour, dinner and dancing
			div(class="row venue-container")
				div(class="col-md-6 col-lg-6 col-xs-12 col-md-offset-3 col-lg-offset-3")
					img(class="venue-photo" src="images/pavilion_outside.jpg")
			div(class="row venue-container")
				div(class="col-md-6 col-lg-6 col-xs-12 col-md-offset-3 col-lg-offset-3")
					Iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23542.36620613952!2d-89.169928!3d42.474632!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79ac00acfb7fb356!2sThe+Pavilion+at+Orchard+Ridge+Farms!5e0!3m2!1sen!2sus!4v1429589137090"  frameborder="0" style="border:0")

	section(class='module content')
		div(class='container' id='registry-anchor')
			h1(class="headline") Registry
				div(class="row registry-row")
					img(src="images/macy.jpeg" alt="Macy's")
					img(src="images/crate.png" alt="Crate and Barrel")

	section(class='module content')
		div(class='container' id='guestbook-anchor')
			h1(class="headline") Sign our Guestbook - Coming Soon!
