body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: rgba(255,255,255,0.6);*/
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

html,body {height:100%;}

.nav {
	width: 100%;
}
.top-nav{
	width:14.2%;
	text-align: center;
}

.engagement-video{
	text-align: center;
	padding-bottom:  150px;
}

.jumbotron-photo{
	height: 500px;

}

.jumbo1{background: url('../images/img_3862.jpg');}
.jumbo2{background: url('../images/img_3868.jpg');}
.jumbo3{background: url('../images/img_3879.jpg');}
.jumbo4{background: url('../images/img_3894.jpg');}
.jumbo5{background: url('../images/img_3899.jpg');}
.jumbo6{background: url('../images/img_3906.jpg');}
.jumbo7{background: url('../images/img_3907.jpg');}
.jumbo8{background: url('../images/img_3915.jpg');}
.jumbo9{background: url('../images/img_3944.jpg');}
.jumbo11{background: url('../images/img_3946.jpg');}
.jumbo12{background: url('../images/img_3952.jpg');}
.jumbo13{background: url('../images/img_4007.jpg');}
.jumbo14{background: url('../images/img_4008.jpg');}
.jumbo15{background: url('../images/img_4010.jpg');}
.jumbo16{background: url('../images/img_4025.jpg');}
.jumbo17{background: url('../images/img_4034.jpg');}
.jumbo18{background: url('../images/img_4038.jpg');}
.jumbo19{background: url('../images/img_4045.jpg');}
.jumbo20{background: url('../images/img_4052.jpg');}
.jumbo21{background: url('../images/img_4058.jpg');}
.jumbo22{background: url('../images/img_4061.jpg');}
.jumbo23{background: url('../images/img_4069.jpg');}
.jumbo24{background: url('../images/img_4077.jpg');}
.jumbo25{background: url('../images/img_4094.jpg');}
.jumbo26{background: url('../images/img_4100.jpg');}
.jumbo27{background: url('../images/img_4105.jpg');}
.jumbo28{background: url('../images/img_4116.jpg');}
.jumbo29{background: url('../images/img_4132.jpg');}
.jumbo30{background: url('../images/img_4155_1.jpg');}
.jumbo31{background: url('../images/img_4178.jpg');}

.jumbo1, .jumbo2, .jumbo3, .jumbo4, .jumbo5, .jumbo6, .jumbo7, .jumbo8, .jumbo9, .jumbo10, .jumbo11, .jumbo12, .jumbo13, .jumbo14, .jumbo15, .jumbo16, .jumbo17, .jumbo18, .jumbo19, .jumbo20, .jumbo21, .jumbo22, .jumbo23, .jumbo24, .jumbo25, .jumbo26, .jumbo27, .jumbo28, .jumbo29, .jumbo30, .jumbo31{
	max-height: 100%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}

.carousel-inner{
	height: 500px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.custom-nav {
	position:absolute;
	width:100%;
}

.gallery > ul {
          padding:0 0 0 0;
          margin:0 0 0 0;
}
.gallery > ul li {
      list-style:none;
      margin-bottom:5px;
 }
 .gallery > ul li img {
 cursor: pointer;
 }

.fixed {
	position:fixed;
	top:0;
	z-index: 9999999
}

.section-header{
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

#about-us-box-top{
	background:url("../images/bg-box2-top.png");
	width: 687px;
	height:48px;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#about-us-box-middle{
	background: url('../images/bg-box2-middle.png');
	width: 687px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:block;

}

#about-us-box-middle p{
	padding: 20px;
	font-size: 16px;
}

#about-us-box-bottom{
	background:url("../images/bg-box2-bottom.png");
	width: 731px;
	height: 114px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
}

/* Paralax CSS */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 20px 15px;
}
section.module.parallax {
  height: 95%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("../images/shoe_header.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/happy.gif");
}

/*section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}*/

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 32px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}



/* Timeline CSS */

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;

}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
  background: black;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 2em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

  }
}


.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  border-color: #888888;
  padding: 1em;

}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #888888;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 16px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 50px;

  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 50px;

  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

}

.proposal-container{
	background-color: #e9f0f5;
}


